.sidebar {
  color: white;
  width: 100%;
}
.block-1 {
  background: linear-gradient(transparent, black);
  background-color: #040D12;
  border-radius: 6px;
  min-width: 32.5vh;
  margin: 8px;
  padding: 4px;
}
.block-2 {
  background: linear-gradient(transparent, black);
  background-color: #040D12;
  border-radius: 6px;
  min-width: 32.5vh;
  margin: 8px;
  padding: 4px;
  overflow: scroll;
}
.block-2::-webkit-scrollbar {
  display: none;
}
.sidebar-items {
  display: flex;
  align-self: start;
  margin: 20px;
  gap: 12px;
  font-weight: bold;
  cursor: pointer;
}
.sidebar-playlists {
  display: flex;
  align-self: start;
  margin: 15px;
  gap: 8px;
  font-weight: light;
  cursor: pointer;
  background-color: #242424;
  padding: 12px;
  border-radius: 6px;
}
