body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
body .player-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.player-container .sidebar {
  width: 20%;
  height: 100%;
  background: linear-gradient(transparent, #000);
  background-color: gray;
}

.player-container .playerview {
  width: 80%;
  height: 100%;
  background: linear-gradient(transparent, #000);
  background-color: lightslategray;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: black;
}
